    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background: #3d5564;
      color: #ffffff;
      padding: 10px 0;
      text-align: center;
    }

    h1 {
      margin: 0;
      font-size: 24px;
    }

    .container {
      max-width: 750px;
      margin: 20px auto;
      overflow: hidden;
    }

    footer {
      text-align: center;
      padding: 10px 0;
      background: #223039;
      color: #ffffff;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    li {
      list-style: none;
      padding: 5px 0;
    }
